statsforecast
statsmodels
streamlit

pmdarima

cmdstanpy
numpy
pandas
matplotlib


setuptools
setuptools-git
wheel
plotly
pmdarima
sklearn
pandas-datareader
convertdate
yfinance
streamlit
plotly
joblib
pandas

pymeeus
setuptools-git
tqdm
ujson

scikit-learn
scipy
statsmodels
urllib3
setuptools
patsy
packaging
